.screen:not([hidden]) {
  display: flex;
}

.menu {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.menu header {
  display: flex;
  font-size: 11vh;
}

.menu header span {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu header span::before,
.menu header span::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2vh;
  background: currentColor;
  margin: 0 2%;
}

.menu ul {
  height: 100%;
  overflow: hidden;
  margin-right: 2%;
  margin: 0;
  padding: 0;
}

.menu ul li {
  height: 33.33%;
  display: flex;
  align-items: center;
  position: relative;
}

.menu ul li span {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu ul li.active span {
  background: var(--c-black-alpha);
  color: var(--c-green);
}

#screen-game {
  color: var(--c-black-alpha);
  font-size: 10vh;
}

.game-info {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 4vh;
}

.timer,
.moves {
  box-shadow: inset 0 0 0 1vh var(--c-black);
  text-align: center;
}

#game {
  align-self: center;
  display: grid;
  border: 1vh solid var(--c-black);
  margin: 0 auto;
  width: 90vh;
  height: 90vh;
}

#game.level-hard {
  font-size: 7vh;
}

#game.level-hard .cell {
  border-width: 0.8vh;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background: var(--c-black-alpha);
  border: 1vh dotted var(--c-green);
  border-top: 0;
  border-left: 0;
  box-sizing: border-box;
  color: var(--c-green);
  width: 100%;
  height: 100%;
}

.cell.selected {
  animation: blink 0.9s infinite;
}

.cell.input {
  background: var(--c-green);
  border-color: var(--c-black-alpha);
  color: var(--c-black-alpha);
}

.cell.right {
  border-right: 0;
}

.cell.bottom {
  border-bottom: 0;
}

@keyframes blink {
  0% {
    color: var(--c-black-alpha);
    background: var(--c-green);
    border-color: var(--c-black-alpha);
  }
  50% {
    color: var(--c-green);
    background: var(--c-black-alpha);
    border-color: var(--c-green);
  }
  100% {
    color: var(--c-black-alpha);
    background: var(--c-green);
    border-color: var(--c-black-alpha);
  }
}
